
.login-form-container {
    max-width: 300px;
    margin: 40px auto;
    margin-top: 80px;
    padding: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
}

.email, .password, .native-signin {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    outline: none;
    -webkit-border: 1px solid  #5b8df7;
    border: 1px solid  #5b8df7;
    -webkit-tap-highlight-color: transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}

.login-form-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.native-signin {
    margin-top: 20px;
    border: 1px solid  #5b8df7;
    background: #5b8cf721;
    color: #5b8df7;
    cursor: pointer;
    font-weight: 600;
    -webkit-appearance: none;
    -webkit-border: 1px solid  #5b8df7;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
}

.native-signin:hover, .native-signin:focus {
    background-color: #5b8cf756;
    transition: all 0.2s ease;
}

.email:focus, .password:focus {
    background-color: #f6f8ff;
}

.forgot-password {
    color: #4285f4;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 0 10px;
    font-size: 14px;
}

/* LOADING */
.login-loading {
    padding: 10px;
    border: 2px solid #5b8df7;
    border-radius: 50%;
    border-top: 2px solid #ffffff;
    width: 5px;
    height: 5px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 10px auto;
    display: block;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.login-break {
    margin: 20px 0 20px;
    height: 1px;
    background-color: #dadce0;
    border: none;
    width: 100%;
}

.signup-link-container {
    font-size: 14px;
}

.email-label, .password-label {
    font-size: 14px;
    font-weight: 500;
    color: #626371;
}

.signup-link {
    color: #4285f4;
    cursor: pointer;
    transition: all 0.2s ease;
}

.signup-link:hover {
    color: #1c6ac5;
}

.password:autofill {
    background: #fff;
}

@media screen and (max-width: 600px) {
    .login-form-header {
        font-size: 16px;
    }
}
